body {
  background-color: #fdfdfd;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #456789;
  text-align: center;
}

p {
  position: relative;
  top: 22%;
} 

a:link {
  color: #449999;
}

a:visited {
  color: #449999;
}

a:hover {
  color: #cc0052;
}

a:active {
  color: #cc0052;
}
</style>
